
#title {
    font-family: 'Dancing Script', cursive;
}

#tron {
    font-family: 'Playfair Display', serif;
    font-size: 90px;

}

#let {
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
}

p {
    font-family: 'Noto Serif Lao', serif;
   
}

.happy {
    font-size: 30px;
}

body {
    background: rgb(250,225,60);
background: linear-gradient(0deg, rgba(250,225,60,1) 0%, rgba(226,22,84,1) 100%);
    /* background-color: #E21654; */
    /* background: linear-gradient(135deg, #c0b298, #FFFADB); */
}

#jumbotron-section {
    padding-top: 7 !important;
    height: 560px;
    background-image: url(https://images.unsplash.com/photo-1605027990121-cbae9e0642df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center center;
    
}

#home, #products, #blog, #contact {
    font-size: 20px;
    font-family: 'Cormorant', serif;
    color: black;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    position: sticky;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  } */
  
  /* Main content */
 
  
  /* Add an active class to the active dropdown button */
  /* .active {
    background-color: green;
    color: white;
  } */
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  /* .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  } */

  #talk {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }

  img {
    max-width: 100%;
  }

  @media (min-width: 40rem) {
    img {
      float: right;
      max-width: 50%;
      margin: 0 0 1rem 1rem;
    }
  }

 #com {
    color: #459124;
 }